<launch>


<include file="$(find robostilt_description)/launch/init_robot.launch"/> 

<include file="$(find robostilt_control)/launch/control.launch"/> 

<include file="$(find robostilt_safety)/launch/safety.launch"/> 

<include file="$(find robostilt_rviz)/launch/rviz.launch"/> 

<include file="$(find robostilt_gazebo)/launch/gazebo.launch"/>

<node name = "rqt" pkg = "rqt_multiplot" type = "rqt_multiplot" respawn = "false" output = "screen" args = ""/> 


</launch>


