<launch>

<!-- ARGUMENTS -->


<!-- PARAMETERS -->


<!-- Launch files -->


<!--Load URDF model into parameter server-->
<include file="$(find robostilt_description)/launch/urdf.launch"/> 


<!-- 
Publish joint states from gazebo into robostilt/joint_states topic

Listen to robostilt/joint_states topic abd publish transforms to /tf
-->
<include file="$(find robostilt_control)/launch/control.launch"/> 

<!--Opens rviz and loads config-->
<include file="$(find robostilt_rviz)/launch/rviz.launch"/> 



<!-- Opens gazebo world and spawns robot-->
<include file="$(find robostilt_gazebo)/launch/gazebo.launch"/> .



<!-- updates the base to world TF @ 10Hz-->
<include file="$(find robostilt_tf)/launch/tf.launch"/>

</launch>

