<launch>

<!-- ARGUMENTS -->


<!-- PARAMETERS -->

<!-- LAUNCH FILES -->

<!-- NODES -->

<!-- Launch rviz with config -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robostilt_rviz)/config/urdf.rviz" /> 

 <!--COM Markers node -->
<node name="markers_stability" pkg="robostilt_rviz" type="markers_stability.py" respawn="false" output="screen"/>

<node name="markers_obstacles" pkg="robostilt_rviz" type="markers_obstacle.py" respawn="false" output="screen"/>

 <!--Interactrive Markers node 
<node name="simple_marker" pkg="robostilt_rviz" type="simple_marker.py" respawn="false" output="screen"/>-->


</launch>


