<launch>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui" value="true" />
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
</include>
    


<!-- Spawn a robot into Gazebo. Load URDF from parameter server-->

<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args=" -urdf -model roboStilt -param robot_description" respawn="false" output="screen" />
</launch>
