<launch>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui" value="true" />
    <arg name="paused" value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false" />
</include> 

<!-- Spawn a robot into Gazebo. Load URDF from parameter server-->
<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
      respawn="false" output="screen"
        args=" -urdf  -param robot_description 
        -model robostilt
        -x 0
        -y 0
        -z 1         
        -J base_link_to_leg_2 -0.2
        -J base_link_to_leg_4 -0.2
        -J base_link_to_leg_6 -0.2
        -J odd_frame_to_leg_1 -0.2
        -J odd_frame_to_leg_3 -0.2
        -J odd_frame_to_leg_5 -0.2
        -J base_link_to_third_frame -0.6
        -J third_frame_to_odd_frame 0.0
        "/>


<!-- Updates the base to world TF from gazebo->rviz -->
<node name="tf_base_link_broadcaster_gazebo_to_rviz" pkg="robostilt_gazebo" type="tf_broadcasterGazebo.py" respawn="false" output="screen"/>


</launch>
