<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find robostilt_control)/config/control.yaml" command="load"/>

  <!-- load the controllers. Publishes joint state on robostilt/joint_states topic -->
  <!--Controllers need to be started by service call since only one of them can be active if they share the same resources. -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/robostilt" args="     
    leg_2_trajectory_controller   
    leg_4_trajectory_controller 
    leg_6_trajectory_controller

    leg_1_trajectory_controller   
    leg_3_trajectory_controller 
    leg_5_trajectory_controller 

    third_frame_prismatic_trajectory_controller   
    third_frame_revolute_trajectory_controller 

    joint_state_controller"/>


 <!-- Listen to robostilt/joint_states topic abd publish transforms to /tf-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/robostilt/joint_states" />
  </node>

-->
</launch>