<launch>

<!-- ARGUMENTS -->


<!-- PARAMETERS -->

<!-- Load URDF file to parameter server -->
 <param name="robot_description"
  command="xacro --inorder '$(find robostilt_description)/urdf/robostilt.urdf.xacro'" />   


<!-- Launch files -->

<!-- Launch TF publishers -->
<include file="$(find robostilt_tf)/launch/tf.launch"/> 

<!-- NODES -->

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" args="_use_gui:=true" />

  <!-- Robot state publisher updates all TFs. Needs URDF loaded on parameter server and sensor_msgs/JointState to work-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />



</launch>

